language: node_js
os: linux
dist: bionic
node_js:
  12
before_script:
  - npm install -g gulp@4.0.2
env:
  global:
    secure: W/z8ovpRt4oirG/xxlPajWf/R6UBq1n5CYOodZnAzWRDAKf1/VIJjQXd1LWnBxDx7OZoEmYj0+M03xuGefArQQL4sWq3yfHsMBt8o5vVgJ7uPPWM1kdZXgYim/BD+J4kpfee8fkR8CHRj2D0uEZ6fpM6aClCyc320xt2bVZ18Csq7VognujQo+x1G8JUWMxq0tWzf3KRtLFg2BwJMjOQWAcx+payCeOALr51FykDBRFrTuSqj0oAehr5TOJ2BPwsN4Z2MilJe5rnD5OCfRBEmNpUsE9nE4rl3bfRbNemEcJYS5dquYYlLZIH2FlcqDYK6sgryUxzbYGnvANf400S9ZI4McEReQp34JiAcG9FiTznSA/YjVbcPHDY8/0dfR8oaAX4RbywtWIjiB87jmbJbIFsPSP3bGU6nzIkSu37B++IBfwywH6U8WvUWyEoR+EgJtkpKd5cUiKeWprQIMPL7vUt1Mb+QuJ8e263q+O5n8ll9mxWVefcOxP3PYCfFBWzpVOxlGvYKR2pL5HYyRuFU1aQQ4q/Nu2KkNCt2j/7xodBlyD9pbwAltNCmPgJAjOmY3dRcae5xPU2a4zbJJt5biYitf2v9m2YagNFsT26j7MZ8TPMhUi9VmLqDKVEHfTMWwiAaqIpPXHIcEqiLJVOKubuCEw1WgL3sE0OEKlvFo4=
script: gulp build
deploy:
  provider: pages
  cleanup: false
  keep_history: true
  strategy: git
  local_dir: dist
  on:
    branch: master
  edge: true